* {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: rgba(121, 239, 108, 0.8);
}

p {
  font-size: 90%;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 20px;
}

li {
  margin-right: 10px;
}

/* The Navbar was inspired by: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp#about*/
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

header {
  background-color: #f2f2f2;
  border-radius: 10px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
