body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:
    "main main"
    "main main"
    "footer footer";
  gap: 15px;
  background-color: rgba(121, 239, 108, 0.8);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 150 px);
  grid-template-areas:
    "data hiking"
    "education education";
}

img {
  width: 50%;
}

* {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h2 {
  margin-top: 40px;
}

p {
  font-size: 15px;
}

.dates {
  text-decoration: underline;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

li {
  margin-right: 10px;
}

footer {
  grid-area: footer;
}

.education {
  grid-area: education;
}

.data {
  grid-area: data;
}

.hiking {
  grid-area: hiking;
}
