* {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: rgba(121, 239, 108, 0.8);
}

p {
  font-size: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 20px;
}

li {
  margin-right: 10px;
}
